body {
  background-color:white;
  margin:0;
}

.header {
}

.container {
}

.navigation {
  color: #26170b;
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
  transition: color 0.3s linear;
}

.navigation:hover {
  color: #894868;
}

.header-line {
  display: flex;
  align-items: center;
  padding-top: 10px;
  height: 80px;
  border: 1px solid lightgrey;
}

  
.header-logo {
  transform: scale(0.95);
  


}

.header-welcome {
  font-size: 20px;
  color: #894868;
}

.cards {
  margin: 30px;
  width: 240px;
}

.card-image {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.card-image:hover img {
  transform: scale(1.10);
  border: 1px solid #894868;
}

