body {
  background-color:white;
  margin:0;
}

.header-logo {
  margin-left:50px;
}

.container {
  margin 0px 166px;
}

.header {
  background: url('../images/background.jpg') no-repeat;
  height:100vh;
}

.header-line {
  background-color: white;
  padding-top: 10px;
  display: flex;
  align-items:center;
  height:60px;
}

.nav {
  background-color:white;
  margin-left:80px;
}

.nav-item {
  color: #26170b;
  text-decoration: none;
  font-size: 20px;
  margin-right: 25px;
  justify-content:spice-around;
  transition : color 0.3s linear;
}

.nav-item:hover {
  color: #894868;
}

.cards {
  margin-top: -380px;
  margin-left: 70px;
  width:240px;
}

.card-image {
  display:flex;
  transform: scale(0.85); 
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

a:hover img {
  transform: scale(1.10);
  border: 2px solid #894868;
}

.card-title {
  display:flex;
  margin-top: 220px;
}

.card-desc {
  display:flex;
}

.block {
  font-size: 20px;
  color: #894868;;
}
